html, body{
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    position: absolute;
}

.previous{
    position: absolute;
    top: 463px;
    left: 141px;
    width: 40px;
    height: 25px;
}

.next{
    position: absolute;
    top: 462px;
    left: 212px;
    width: 40px;
    height: 25px;
}

.random{
    position: absolute;
    top: 443px;
    left: 739px;
    width: 65px;
    height: 65px;
    border-radius: 49px;
}

.screenImg{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 31px;
    left: 282px;
    width: 294px;
    height: 220px;
    padding: 10px;
}

.screenInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 363px;
    left: 282px;
    width: 294px;
    height: 220px;
    padding: 10px;
}

#loader {
    border: 16px solid #9e9c9c;
    border-radius: 50%;
    border-top: 16px solid red;
    border-bottom: 16px solid red;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
