body{
    padding: 0;
    margin: 0;
    height: 250vh;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: rgb(198 208 217);
    display: grid;
    grid-template-rows: 2fr repeat(4, 1fr);
    padding: 0;
    margin: 0;
    


}

.top{
    width: 100%;
    background-image: url("https://w.wallhaven.cc/full/j5/wallhaven-j5z22p.jpg"); 
    overflow: hidden;
    background-size: cover;
    display: grid;
    grid-template-rows: 5% 1fr;
    padding: 0;
    margin: 0;
}

nav{
    background-color: rgb(200 210 219);
    border-radius: 0 0 4px 4px;
    padding: 0;
    margin: 0;  
    display: grid;
    grid-template-columns: 5% 1fr;
    align-items: center;
}

li{
    padding: 0 2% 0 2%;
}

nav > div{
    display: flex;
    justify-content: flex-end;
}

nav > a{
    padding: 0 0 0 10%;
}

ul{
    width: 23%;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}
.flex-container-right-top{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}

.welcome{
    width: 45%;
    height: 40%;
    margin: 8%;
    position: relative;
    top: -18%;
}


.containerGrid{
    width: 70%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.flex-center-column{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photo{
    width: 75%;
    height: 85%;
    margin: 0;
    padding: 0;
    border-radius: 5%;
}

.border-left{
    border-left: 8px solid;
    border-color: #99aec3b5;
    height: 87%;
    padding-left: 3%;
}

.flex-space-around-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-photo{
    width: 80%;
    height: 85%;
}

.my-card{
    position: relative;
    width: 25%;
    height: 100%;
    border-bottom: solid 3px #99aec3b5;
}

.my-card-photo{
    width: 62%;
    height: 88%;
}

.blog{
    width: 85%;
}

h2{
    padding-top: 2%;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;

}

.bi{
    font-size: 180%;
    margin:10%;
}

.two-columns{
    grid-template-columns: 1fr 1fr;

}

.smaller{
    width: 50%;
}

input{
    margin: 1%;
    width: 100%;
}

textarea{
    margin: 1%;
}

i{
    margin: 1%;
}
